In [1]:
%matplotlib inline
import pandas as pd

In [7]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
#css = open('style-notebook.css').read()

HTML('<style>{}</style>'.format(css))

In [3]:
titles = pd.read_csv('data/titles.csv', index_col=None)
titles.head()

             title  year
0   Orlando Vargas  2005
1         Niu-Peng  1989
2    Anandabhadram  2005
3   Mahendra Varma  1993
4  Beomdiga shidae  1970

In [45]:
cast = pd.read_csv('data/cast.csv', index_col=None, encoding='utf-8')
cast.head()

                               title  year       name   type character     n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22.0
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself   NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27.0
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3.0
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself   NaN

### How many movies are listed in the titles dataframe?

In [7]:
len(titles.title.unique())

196344

In [8]:
titles.shape

(214591, 2)

### What are the earliest two films listed in the titles dataframe?

In [16]:
titles.iloc[titles.year.sort_values().head(2).index.values,:]

                                                   title  year
90767                                         Miss Jerry  1894
10994  Reproduction of the Corbett and Fitzsimmons Fight  1897

### How many movies have the title "Hamlet"?

In [21]:
hamlet = titles[titles.title.str.contains('Hamlet')]
hamlet

                                          title  year
2249                                     Hamlet  2015
13412                       Harry, Hamlet and I  2013
21587                               Hamlet (II)  1964
27636                  Hamlet, Son of a Kingpin  2015
32651                 Hamlet the Vampire Slayer  2008
39041                                    Hamlet  1973
39167                              Hamlet (III)  2007
39461                                    Hamlet  2000
41940                                    Hamlet  1996
47787                        Han, hun og Hamlet  1932
52546                                    Hamlet  1987
54748                                    Hamlet  2009
56646                                    Hamlet  2011
63012                                  Hamlet 2  2008
69544                                    Hamlet  1964
84114                              H for Hamlet  1993
84570                                    Hamlet  2016
85485                                    Hamlet  1913
87950                            Kitchen Hamlet  2009
89918             Hamlet: The Fall of a Sparrow  2016
95505                                    Hamlet  2014
95605                                    Hamlet  1969
100923                                   Hamlet  1910
117180                Hamlet, Prince of Denmark  1997
124862                       A Sagebrush Hamlet  1919
130812             Hamlet (A Modern Adaptation)  2016
134631                            Hamlet A.D.D.  2014
139892                                   Hamlet  1921
141802            National Theatre Live: Hamlet  2015
148069          Dogg's Hamlet, Cahoot's Macbeth  2005
148866                                   Hamlet  1954
151625                    Green Eggs and Hamlet  1995
154188                                 Hamlet_X  2003
156599                                   Hamlet  1948
157630                   Hamlet in the Hamptons  2002
157827  The Tragedy of Hamlet Prince of Denmark  2007
158101                           Hamlet Unbound  2012
158164                            Zombie Hamlet  2012
159684                             Kadin Hamlet  1977
163512                              Hamlet (II)  2007
173450                             Hamlet (III)  2015
174780                Hamlet: Prince of Denmark  1989
179411                                   Hamlet  1911
185183                                   Hamlet  1976
185646                                   Hamlet  1990
198830      Predstava 'Hamleta' u Mrdusi Donjoj  1974
203319                              Fuck Hamlet  1996
203817                              Hamlet (II)  2005
204257                   Hamlet liikemaailmassa  1987
204952                       Han, hun og Hamlet  1922
206504                              Hamlet (II)  2015
208285                           Hamlet's Ghost  2014
210847                                 Hamlet X  2004

### How many movies are titled "North by Northwest"?

In [20]:
titles[titles.title.str.match('North by Northwest')]

                     title  year
100262  North by Northwest  1959

### When was the first movie titled "Hamlet" made?

In [27]:
titles.iloc[hamlet.year.idxmin(),:]

title    Hamlet
year       1910
Name: 100923, dtype: object

In [30]:
hamlet[hamlet.year == hamlet.year.min()]

         title  year
100923  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [7]:
trIsl = titles[titles.title.str.contains('Treasure Island')]
trIsl.sort_values('year')

                                                    title  year
48904                                     Treasure Island  1918
108475                                    Treasure Island  1920
89471                                     Treasure Island  1934
156859                      The Secret of Treasure Island  1938
97437                     Charlie Chan at Treasure Island  1939
52435                                     Treasure Island  1950
75441                           Return to Treasure Island  1954
30155                           Five on a Treasure Island  1957
118309                                    Treasure Island  1972
144139                                    Treasure Island  1973
191845                                    Treasure Island  1985
70980                              Muppet Treasure Island  1996
60903                                Treasure Island (II)  1999
50325                                     Treasure Island  1999
112151                         Pirates of Treasure Island  2006
124364  Treasure Island Kids: The Mystery of Treasure ...  2006
134309  Treasure Island Kids: The Monster of Treasure ...  2006
149953  Treasure Island Kids: The Battle of Treasure I...  2006
198424             National Theatre Live: Treasure Island  2015

### How many movies were made in the year 1950?

In [9]:
(titles.year == 1950).sum()

1036

In [35]:
titles.year.value_counts()[1950]

1036

### How many movies were made in the year 1960?

In [10]:
(titles.year == 1960).sum()

1461

In [34]:
titles.year.value_counts()[1960]

1461

### How many movies were made from 1950 through 1959?

In [15]:
((titles.year >= 1950) & (titles.year < 1960)).sum()

12110

In [70]:
dec = titles.year.value_counts().sort_index()
dec.loc[1950:1959].sum()

12110

### In what years has a movie titled "Batman" been released?

In [20]:
titles.year[titles.title.str.contains('Batman')].sort_values().values

array([1943, 1949, 1964, 1965, 1966, 1966, 1967, 1973, 1989, 1991, 1992,
       1993, 1995, 1997, 2005, 2010, 2010, 2012, 2014, 2015, 2015, 2016,
       2016, 2016, 2017])

### How many roles were there in the movie "Inception"?

In [23]:
inc = cast[cast.title.str.match('^Inception$')]

In [25]:
inc.character.count()

72

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [29]:
inc.n.count()

51

### But how many roles in the movie "Inception" did receive an "n" value?

In [72]:
(inc.n.isnull()).sum()

21

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [5]:
nbnw = cast[cast.title.str.match('North by Northwest')]
nbnw = nbnw[nbnw.n.notna()]

In [15]:
nbnw.sort_values('n', ascending=False)

,title,year,name,type,character,n
1228229,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0
180985,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1339004,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
411247,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
2033529,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
590702,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
1607029,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
2167754,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1130557,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
1504777,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
2685171,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
315343,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2776446,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
1292652,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3084579,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
773496,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [23]:
sleuth72 = cast[(cast.title.str.match('Sleuth')) & (cast.year == 1972)]

In [24]:
sleuth72.sort_values('n', ascending=False)

,title,year,name,type,character,n
1285278,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0
2406762,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1299944,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
330750,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
288502,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
1513570,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [25]:
sleuth07 = cast[(cast.title.str.match('Sleuth')) & (cast.year == 2007)]
sleuth07.sort_values('n', ascending=False)

          title  year                 name     type          character    n
1602268  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
1147041  Sleuth  2007             Jude Law    actor               Milo  2.0
288503   Sleuth  2007        Michael Caine    actor             Andrew  1.0
228757   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
330751   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2406761  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
2958823  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [27]:
cast[(cast.title.str.match('Hamlet')) & (cast.year == 1921)].shape[0]

9

### How many roles were credited in Branaghs 1996 Hamlet?

In [29]:
cast[(cast.title.str.match('Hamlet')) & (cast.year == 1996)].shape[0]

55

### How many "Hamlet" roles have been listed in all film credits through history?

In [33]:
hm = cast[cast.character.str.match('^Hamlet$')]
hm.head()

                      title  year                 name   type character     n
5393                  Sugar  2008         Hamlet Abreu  actor    Hamlet  58.0
85281       Top of the Town  1937          Mischa Auer  actor    Hamlet   6.0
109025  The Sound of Spying  2014        Jonathan Ball  actor    Hamlet   NaN
140609     Suivez cet avion  1989    Fran?ois Beaulieu  actor    Hamlet  26.0
147618          Hamlet (II)  2007  William Belchambers  actor    Hamlet   NaN

In [34]:
hm.shape[0]

81

### How many people have played an "Ophelia"?

In [37]:
oph = cast[cast.character.str.match('^Ophelia$')]
len(oph.name.unique())

94

### How many people have played a role called "The Dude"?

In [39]:
dude = cast[cast.character.str.match('^The Dude$')]
dude

,title,year,name,type,character,n
239469,The Big Lebowski,1998,Jeff Bridges,actor,The Dude,1.0
299786,Terms & Conditions,2015,Jordan Cann,actor,The Dude,9.0
442049,Stranger,2000,Scott Crowell,actor,The Dude,NaN
505791,Pizza Man vs. the Dude,2004,Chris DeMarcus,actor,The Dude,NaN
541693,Sweepstakes,1931,Mike Donlin,actor,The Dude,12.0
558481,Self Helpless,2010,Devin The Dude,actor,The Dude,NaN
968799,Jay and Silent Bob Strike Back,2001,Matthew (XIX) James,actor,The Dude,37.0
1012026,Explicit Ills,2008,Christopher Kadish,actor,The Dude,27.0
1212594,American Idiots,2013,Jason Loughridge,actor,The Dude,10.0
1229900,The Winds of Autumn,1976,Steve Lyons,actor,The Dude,16.0
1367953,Wild Oats Lane,1926,Jerry Miley,actor,The Dude,6.0
1583296,Oklahoma Badlands,1948,House Peters Jr.,actor,The Dude,13.0
1631342,Hacks,1997,Jason Priestley,actor,The Dude,11.0
1951573,Carlos Spills the Beans,2012,Bobby Styles,actor,The Dude,NaN
2068836,Zachariah,1971,Dick Van Patten,actor,The Dude,9.0
2142505,It Can Be Arranged,2010,Joel Weiss,actor,The Dude,NaN

In [40]:
len(dude.name.unique())

16

### How many people have played a role called "The Stranger"?

In [41]:
stranger = cast[cast.character.str.match('^The Stranger$')]
len(stranger.name.unique())

184

### How many roles has Sidney Poitier played throughout his career?

In [48]:
poit = cast[cast.name.str.match('Sidney Poitier')]

In [53]:
poit.character.unique().shape[0]

41

### How many roles has Judi Dench played?

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

### List the leading roles that Cary Grant played in the 1940s in order by year.

### How many roles were available for actors in the 1950s?

### How many roles were available for actresses in the 1950s?

### How many leading roles (n=1) were available from the beginning of film history through 1980?

### How many non-leading roles were available through from the beginning of film history through 1980?

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?